<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}Library Management{% endblock %}</title>

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/fav.ico') }}" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

  <style>
    body {
      font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
      background: #f7f4ef;
    }

    .line-clamp-2 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .line-clamp-3 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .modal-backdrop {
      backdrop-filter: blur(5px);
    }
  </style>

  {% block extra_css %}{% endblock %}
</head>

<body class="min-h-screen" style="background:#f7f4ef;">

  {% if layout_type == "admin" %}
    {% include "partials/admin_navbar.html" %}
  {% else %}
    {% include "partials/student_navbar.html" %}
  {% endif %}

  {% block content %}{% endblock %}

  {% block scripts %}{% endblock %}

</body>
</html>
